/*import 'bootstrap/dist/css/bootstrap.min.css'*/

/*.logo{
    display: flex;
    justify-content: center;
}*/

.navBarTest{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.navBarTest p{
    margin: 0 30px
}